* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
  width: 14%;
  min-height: 710px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 18px;
}
#logo {
  width: 50%;
  margin-bottom: 30px;
}
.navbar_link {
  text-decoration: none;
  color: rgb(80, 80, 80);
  font-size: 16px;
  font-weight: 500;
}
.navbar_link:hover {
  color: rgb(124, 124, 124);
}
#navbar_div1 {
  width: 100%;
  padding-left: 22%;
}
#navbar_div2 {
  width: 100%;
  padding: 10px;
  padding-left: 20%;
  background-color: rgb(255, 231, 215);
  border-left: 5px solid rgb(252, 133, 35);
}
